body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.clickable{
  cursor: pointer;
}

.closeModal{
  -webkit-text-stroke: 2px #020C4C; 
  text-stroke: 2px #020C4C;
}

.dayButton:hover{
  background-color: #628CCC;
  opacity: 1 !important;
}

.summarySectionCol:first-child{
  border-left: 1px solid black !important;
}


#loginForm{
  transition: height 2s;
}

#root{
  height: 100vh;
}

.transaction:hover{
  background-color: #628CCC;
}

.transactionAmount{
  border-left: 1px solid #D3D4D9;
}

#transactionModalContents:focus{
  outline: none;
}

.widget{
  display: inline-block;
  width: 100%;
  height: auto;
}

.widget:first-child > div{
  border-top: none !important;
}

#widgetContainer::-webkit-scrollbar{
  width: 5px;
}

#widgetContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#monthlySummaryContent::-webkit-scrollbar{
  height: 5px;
  width: calc(100% - 10px);
}

#monthlySummaryContent::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 6px 0 rgba(0,0,0,0.3);
}

#widgetContainer::-webkit-scrollbar-thumb, #monthlySummaryContent::-webkit-scrollbar-thumb {
  /* background-color: #020C4C; */
}