body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* height: 100vh; */
  overflow: hidden;
  /* overflow-x: hidden; */
}

#root{
  height: 100vh;
  /* overflow: hidden; */
}

.widget:first-child > div{
  border-top: none !important;
}